body {
    margin: 0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
}

.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

.logo {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffd700; /* Change to the desired hover color */
}

@media (max-width: 768px) {
    .logo {
        font-size: 20px;
        margin-right: 10px;
    }

    .nav-link {
        font-size: 14px;
        margin: 0 5px;
    }
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
    color: #333;
}

.hero-image {
    width: 100%;
    height: auto;
}

section {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
}

h2 {
    color: #333;
}

/* home */

#home {
    position: relative;
    overflow: hidden;
}

#home .static-image {
    position: relative;
    width: 100%;
    height: auto;
    filter: grayscale(0%); /* Change the grayscale percentage as needed */
    transition: filter 0.5s ease-in-out;
}

#home .static-image:hover {
    filter: grayscale(100%);
}
/* servicios */

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service {
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
   
}

.service:hover {
    transform: scale(1.05);
}
/* valores */

section#valores {
    text-align: center;
    padding: 80px 0;
    background-color: #f4f4f4;
}

section#valores h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.value-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.value-card:hover {
    transform: translateY(-5px);
}

.value-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.value-description {
    font-size: 16px;
    color: #555;
}

/* galeria */
section#gallery {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
    overflow: hidden;
}

.gallery-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gallery {
    display: flex;
    
}


.thumbnail {
    width: 200px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
   
}

.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 5px;
   
}

.thumbnail:hover {
    transform: scale(1.1);
}



/* testimonios */
section#testimonials {
    text-align: center;
    padding: 50px 0;
    background-color: #f8f8f8;
}

.testimonial-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.testimonial {
    display: none;
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.testimonial.active {
    display: block;
}

.testimonial p {
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonial-author {
    font-weight: bold;
    margin-top: 10px;
}

.testimonial-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.testimonial-navigation button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
/* contactp */


#contact {
    background-color: #f5f5f5;
    padding: 80px 0;
    background-image: url('img/img122.jpg'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
    color: #fff; /* Ajusta el color del texto para que sea legible en la imagen de fondo */
}


.contact.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.google-maps {
    flex: 1; /* Ocupa el espacio disponible */
    height: 350px;
    box-sizing: border-box;
}


.google-maps iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 40px; /* Subí un poco más el título */
}

.contact-info p {
    margin: 20px 0; /* Ajusté el margen de los párrafos */
}

@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info,
    .google-maps {
        width: 100%;
    }
}



/* footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}